<?xml version="1.0" encoding="utf-8"?>
<packages>
  <package id="BlueByte.SOLIDWORKS.PDMProfessional.Extensions" version="2021.0.22" targetFramework="net472" />
  <package id="BlueByte.SOLIDWORKS.PDMProfessional.Interops" version="2021.0.0" targetFramework="net472" />
  <package id="BlueByte.SOLIDWORKS.PDMProfessional.PDMAddInFramework" version="2021.1.53" targetFramework="net472" />
  <package id="Net.Codecrete.QrCodeGenerator" version="2.0.1" targetFramework="net472" />
  <package id="Newtonsoft.Json" version="13.0.1" targetFramework="net472" />
  <package id="SimpleInjector" version="5.3.2" targetFramework="net472" />
</packages>